.container {
  padding-block: 20px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #0000006e;
  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
      display: flex;
      align-items: center;
      gap: 30px;
      a {
        color: #fff;
      }
    }
  }
}
