.container {
  padding-block: 40px;
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .list {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .btn-next,
      .btn-prev {
        border-radius: 50%;
        padding: 5px;
        display: flex;
        align-items: center;
        gap: 2px;
        position: absolute;
        cursor: pointer;
      }
      .btn-next {
        right: 20px;
        top: 33%;
        z-index: 100;
        pointer-events: all;
      }
      .btn-prev {
        left: 20px;
        top: 33%;
        z-index: 100;
        pointer-events: all;
      }
    }
  }
}
